{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <table>
        <tr>
            <th>Liczba dni</th>
            <th>Sezon</th>
            <th>Pokoj</th>
        </tr>
        {% for r in rezerwacje %}
        <tr>
            <td>{{r.liczba_dni}}</td>
            <td>{{r.sezon}}</td>
            <td>{{r.id_pokoju.nazwa}}</td>
        </tr>
    </table>
</body>
</html>