{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi to rybka</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="main">
        <div id="left"> 
            <h1>Portal dla wedkarzy</h1>
            <p>pole styl_zycia przyjmuje wartość 1 dla drapieżników, wartość 2 dla ryb spokojnego żeru</p>
            <ol>
                {% for ryba in ryby %}
                    <li>{{ryba.nazwa}}, występowanie {{ryba.wystepowanie}}, styl zycia {{ryba.styl_zycia}}</li>
                {% endfor %}
            </ol>
            <h2>Gatunki chronione</h2>
            <ul>
                {% for ryba in okresy %}
                    {% if ryba.wymiar_ochrony != 0 %}
                        <li>{{ryba.ryby_id.nazwa}}, chroniony od {{ryba.od_miesiaca}} do {{ryba.do_miesiaca}}, wymiar ochrony {{ryba.wymiar_ochrony}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="right">
            <img src="{% static 'images/ryba.jpg' %}" alt="">
        </div>
    </div>
</body>
</html>